
<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SoftClub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Пользователи
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="/add_user">Добавить пользователя</a></li>
                    <li><a class="dropdown-item" href="/list_user">Список пользователей</a></li>
                    <li><a class="dropdown-item" href="#">Удалить пользователя</a></li>
                    </ul>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Компании
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="/comp">Добавить компанию</a></li>
                    <li><a class="dropdown-item" href="#">Удалить компанию</a></li>
                    <li><a class="dropdown-item" href="#">Список компаний</a></li>
                    </ul>

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Сотрудники
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="/empl">Добавить сотрудника</a></li>
                    <li><a class="dropdown-item" href="#">Удалить сотрудника</a></li>
                    <li><a class="dropdown-item" href="#">Список сотрудников</a></li>
                    </ul>

                </div>

              </li>
            </ul>
          </div>
        </div>
      </nav>
          

</div>